*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# OS
.DS_Store

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
/out/

# eclipse project file
.settings/
.classpath
.project

hs_err_pid*

