*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# OS
.DS_Store

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
out/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Misc
*.swp
release.properties

hs_err_pid*

/bin/
